.Nav {
    margin: 0px;
    display: flex;
    justify-content: flex-end;
    background-color: #2a2222;
}

.Nav-member {
    min-width: 50px;
    color: darkgray !important;
    justify-content: center;
    display: flex;
    height: 40px;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
}

.Nav-member:hover {
    color: #DDD !important;
}

.margin {
    padding: 0 3px;
}

@media only screen and (max-width: 600px) {
    .Nav {
        justify-content: flex-start;
    }
}