.container {
    width: auto;
    background-color: #EEE;
    min-height: 80vh;
    overflow: auto;
    position: relative;
}

.time {
    width: 50px;
}

@media only screen and (max-width: 900px) {
    .flex-inline {
        flex-wrap: wrap;
    }

    .flex {
        justify-content: flex-start;
    }

    .header {
        height: 100px;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-right: 5vh;
    margin-bottom: 5vh;
    right: 0;
    bottom: 0;
    background-color: white;
    border-radius: 5px;
}

.menu-member {
    margin: 10px;
    color: black;
    text-align: center;
}

.idea-box {
    padding: 20px;
    width: 150px;
    min-height: 150px;
    word-wrap: break-word;
    position: absolute;
    border: 1px solid #AAA;
    white-space: pre-line;
}

.input-idea {
    top: 25vh;
    left: 25vw;
    width: 50vw;
    height: 50vh;
    background-color: #FFF;
    position: fixed;
    padding: 20px;
}

.create-button {
    position: fixed !important;
    right: 30px !important;
    bottom: 30px !important;
    top: auto !important;
    cursor: pointer;
    font-size: 80px;
    color: #5cb85c;
    z-index: 999;
}

.create-button:hover {
    color: #4ba74b;
}

.edit-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.move-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0);
    cursor: move;
}

.vote {
    position: absolute;
    right: 5px;
    bottom: 0;
    height: 20px;
}

    .vote span {
        margin: 3px;
        cursor: pointer;
    }

.voted {
    background-color: grey;
}

.setting-button {
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.red {
    background-color: #ff9999;
}

.pink {
    background-color: #ff99c2;
}

.green {
    background-color: #99ff99;
}

.blue {
    background-color: #99ffff;
}

.yellow {
    background-color: #ffff99;
}

.new-idea {
    width: 98% !important;
    height: 25vh !important;
}

.red-text {
    color: red;
}

.green-text {
    color: green;
}
