.container {
    min-width: 100vw;
    background-color: #EEE;
    min-height: 70vh;
    overflow: scroll;
    position: relative;
}

.menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-right: 5vh;
    margin-bottom: 5vh;
    right: 0;
    bottom: 0;
    background-color: white;
    border-radius: 5px;
}

.menu-member {
    margin: 10px;
    color: black;
    text-align: center;
}

.idea-box {
    padding: 20px;
    width: 150px;
    min-height: 150px;
    word-wrap: break-word;
    position: absolute;
    border: 1px solid #AAA;
}

.input-idea {
    top: 25vh;
    left: 25vw;
    width: 50vw;
    height: 50vh;
    background-color: #FFF;
    position: fixed;
    padding: 20px;
}

.color-panel {
    display: flex;
}

.edit-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.move-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0);
    cursor: move;
}

.vote {
    position: absolute;
    right: 5px;
    bottom: 0;
    height: 20px;
}

    .vote span {
        margin: 3px;
        cursor: pointer;
    }

.voted {
    background-color: grey;
}

.setting-button {
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.red {
    margin: 5px;
    background-color: #ff9999;
    width: 50px;
    height: 50px;
}

.blue {
    margin: 5px;
    background-color: #ff99c2;
    width: 50px;
    height: 50px;
}

.green {
    margin: 5px;
    background-color: #99ff99;
    width: 50px;
    height: 50px;
}

.yellow {
    margin: 5px;
    background-color: #99ffff;
    width: 50px;
    height: 50px;
}

.grey {
    margin: 5px;
    background-color: #ffff99;
    width: 50px;
    height: 50px;
}

.new-idea {
    width: 98% !important;
    height: 25vh !important;
}

.red-text {
    color: red;
}

.green-text {
    color: green;
}
