.user-container {
    width: auto;
    background-color: #EEE;
    min-height: 80vh;
    position: relative;
    padding: 20px 300px;
}

@media only screen and (max-width: 1000px) {
    .user-container {
        padding: 20px 50px;
    }
}